mat-grid-tile {
  background: white;
}

.dts-select-container:not(.dts-custom) .dts-select-item.selected {
  background: lightgreen;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.listing-option:hover {
  cursor: pointer;
}

.listing-option.state--selected {
  background: lightseagreen;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
